<div class="event">
  <div class="content">
    <div class="summary">
      <em><%= message.user.email %></em>: <%= message.body %>
      <div class="time_to_right"><%= (message.created_at).strftime("%T" ) %></div>
    </div>
  </div>
</div>