<% if current_user == message.user %>
  <div class="d-flex justify-content-end mb-4">
  <div class="msg_cotainer_send">
<% else %>
  <div class="d-flex justify-content-start mb-4">
  <div class="msg_cotainer">
<% end %>
    <%= message.body %>
    <span class="msg_time_send"><%= time_ago_in_words(message.created_at) %> ago</span>
  </div>
</div>