<div class="ui one column grid">
  <div class="sidebar-left">
    <div class="twelve wide column">
      <div class="ui fluid raised card chatbox">
        <div class="content" id="messages">
          <div class="ui feed" id="msg">
            <%= render @messages %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>