<%= form_with(model: link, local: true) do |form| %>
  <div class="field">
    <%= form.label 'Link' %>
    <%= form.text_field :body %>
  </div>

  <div class="actions">
    <%= form.submit 'Utwórz' %>
  </div>
<% end %>
