<p>
  <strong>Link:</strong>
  <%= @link.body %>
</p>

<p>
  <strong>Użytkownik:</strong>
  <%= @link.user.email %>
</p>

<%= link_to 'Edytuj', edit_link_path(@link) %> |
<%= link_to 'Cofnij', links_path %>
