@import "semantic-ui";
$bp-medium: 62.5em; // 1000px

.chatbox {
  height: 85vh;
}

.time_to_right {
  float: right;
}

#messages {
  height: 15em;
  overflow: auto;
}

.nickname-1 {
  color: #9B393C;
}
.nickname-2 {
  color: blue;
}

.time {
  color: #6B6865;
  font-weight: 100;
}

@media only screen and (max-width: $bp-medium) {
  .logo {
    display: none;
  }
  .sidebar-left {
    margin-top: 10px;
    width: 95vw !important;
  }

  /* In site.variables */
  @tabletBreakpoint : 768px;
  @scrollbarWidth : 17px; /* This is a constant */
  /* In container.variables */
  @tabletMinimumGutter : (@emSize  * 1); /* require 1em gutter */
  @tabletWidth : @tabletBreakpoint - (@tabletMinimumGutter * 2) - @scrollbarWidth;
}